#employeeRole {
  width: 100%; }

.mySelect {
  color: rgba(109, 109, 109, 0.911); }

.myStationsRow {
  color: rgba(109, 109, 109, 0.911); }

.myRoleInvalid {
  display: block;
  color: red; }

.myRoleValid {
  display: none; }
